;
; Arquivo de configuração do e4rat (Reduz tempo de acesso em sistemas de arquivos ext4)
; Se a opção não for indicada, o e4rat usará os valores padrões
;
; o e4rat tem uma estrutura de logging simples. Cada evento recebe uma prioridade.
; Prioridades existentes:
;       1   erros
;       2   avisos
;       4   estatísticas da tarefa
;       8   informações sobre um único passo
;      16   debug

; Nivel de verbosidade (Padrão: 7)
; verbose  7

; Eventos de log gravados no disco (Padrão: 3)
; loglevel  3

; Coletar apenas os arquivos de dispositivos ext4 (Padrão: true)
; ext4_only  true

; Ignorar arquivos já abertos (Padrão: true)
; exclude_open_files  true

; Tempo para o coletor aguardar antes de terminar o processo (Padrão: 120)
; timeout  120

; Caminho para o init original (Padrão: /sbin/init)
; init /sbin/init

; Configuração dos eventos de log
; Se log_target for setado para 'syslog' as mensagens serão enviadas para o syslogd.
; O valor padão é /dev/kmsg. Isso envia a mensagem para o log do kernel.(leia dmesg(1))
; log_target /dev/kmsg

; Modo padrão de desfragmentação para o realocador (Padrão: auto)
; defrag_mode auto

; Local padrão do log de inicialização do coletor (Padrão: /var/lib/e4rat/startup.log)
; startup_log_file /var/lib/e4rat/startup.log
